################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/TalentoTechBootCamp/CopilotIndices/17.13.444.19527
/.vs/TalentoTechBootCamp/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
